Q. What is a List?

List: List is a sequence in Python with each element separated by comma and defined using brackets.
    my_list = [1,5,7,4]

Q. How List is different from Python string?

The difference between list and string is that list is mutable. That is, the elements inside list can be changed.

*** LIST METHODS ***

append()
- list.append(elmnt)
- appends an element to the end of the list.

In [1]:
list1=[1,2,3,4]

In [2]:
list2=['orange','mango','banana']

In [3]:
list1.append(5)

In [4]:
list1

[1, 2, 3, 4, 5]

In [5]:
list1.append(list2)

In [6]:
list1

[1, 2, 3, 4, 5, ['orange', 'mango', 'banana']]

clear()
- list.clear()
- removes all the elements from a list.

In [8]:
list2

['orange', 'mango', 'banana']

In [9]:
list2.clear()

In [10]:
list2

[]

copy()
- list.copy()
- returns a copy of the specified list.

In [12]:
list1

[1, 2, 3, 4, 5, []]

In [13]:
x = list1.copy()

In [14]:
x

[1, 2, 3, 4, 5, []]

count()
- list.count(value)
- returns the number of elements with the specified value.
- Parameter required and is the value to search for(any type).

In [15]:
fruits=['banana','cherry','apple','cherry']

In [16]:
fruits

['banana', 'cherry', 'apple', 'cherry']

In [17]:
fruits.count('cherry')

2

In [18]:
number=[2,5,3,6,3,6,3,2,1,4,2,1,6]

In [19]:
number.count(1)

2

In [20]:
number.count(3)

3

extend()
- list.extend(iterable)
- adds the specified list elements (or any iterable) to the end of the current list.
- Parameter is required. Any iterable (list, set, tuple, etc.)

In [21]:
fruits

['banana', 'cherry', 'apple', 'cherry']

In [22]:
cars = ['renault','tata','hyundai','honda']

In [23]:
cars

['renault', 'tata', 'hyundai', 'honda']

In [24]:
fruits.extend(cars)

In [25]:
fruits

['banana', 'cherry', 'apple', 'cherry', 'renault', 'tata', 'hyundai', 'honda']

In [26]:
cars

['renault', 'tata', 'hyundai', 'honda']

index()
- list.index(elmnt)
- returns the position at the first occurrence of the specified value.
- parameter is required and is the element to search for

In [27]:
fruits

['banana', 'cherry', 'apple', 'cherry', 'renault', 'tata', 'hyundai', 'honda']

In [28]:
fruits.index('tata')

5

insert()
- list.insert(pos, elmnt)
- inserts the specified value at the specified position.

In [29]:
fruits

['banana', 'cherry', 'apple', 'cherry', 'renault', 'tata', 'hyundai', 'honda']

In [30]:
fruits.insert(4,'grapes')

In [31]:
fruits

['banana',
 'cherry',
 'apple',
 'cherry',
 'grapes',
 'renault',
 'tata',
 'hyundai',
 'honda']

pop()
- list.pop(pos)
- removes the element at the specified position.
- pos argument is optional. If no position is specified it removes the last element.

In [33]:
fruits

['banana',
 'cherry',
 'apple',
 'cherry',
 'grapes',
 'renault',
 'tata',
 'hyundai',
 'honda']

In [34]:
fruits.pop()

'honda'

In [35]:
fruits.pop(6)

'tata'

In [36]:
fruits.pop(9)

IndexError: pop index out of range

In [ ]:
remove()
- list.remove(elmnt)
- removes the first occurrence of the element provided as argument.

In [37]:
fruits

['banana', 'cherry', 'apple', 'cherry', 'grapes', 'renault', 'hyundai']

In [38]:
fruits.remove('cherry')

In [39]:
fruits

['banana', 'apple', 'cherry', 'grapes', 'renault', 'hyundai']

reverse()
- list.reverse()
- reverses the list elements.

In [40]:
fruits.reverse()

In [41]:
fruits

['hyundai', 'renault', 'grapes', 'cherry', 'apple', 'banana']

In [ ]:
sort()
- list.sort()
- sorts the list in ascending order.

In [42]:
fruits.sort()

In [43]:
fruits

['apple', 'banana', 'cherry', 'grapes', 'hyundai', 'renault']